{%extends 'base.html'%}
{%block content%}

    <main>
        <div>
            <h1>My Projects</h1>
            {% if projects %}
            <table>
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Number of tasks</th>
                  </tr>
                </thead>
                <tbody>
                  {% for project in projects %}
                  <tr>
                    <td>{{ project.name }}</td>
                    <td>{{ project.all }}</td>

                    {% endfor %}
            {% else %}
            <p>You are not assigned to any projects</p>
            
                
                {%endif%}
        </div>
    </main>

{%endblock content%}